/scenes/test-Copy.jpg
/build
/test.bat
/*.exr
/scenes/env_map_large.exr
/*.png
/old
/Tools/Position/.vs
/Tools/Position/Library
/Tools/Position/OutputComaprison/bin
/Tools/Position/OutputComaprison/obj
