/scenes/test-Copy.jpg
/build
/release
/test.bat
/*.exr
/scenes/env_map_large.exr
/*.png

*.idea
/pbrt-v3/cmake-build-debug
/pbrt-v3/cmake-build-release
MayaProject/workspace.mel
MayaProject/images/tmp
*.mayaSwatches

/old
/Tools/Position/.vs
/Tools/Position/Library
/Tools/Position/OutputComaprison/bin
/Tools/Position/OutputComaprison/obj
/*.jpg
/Tools/Position/test
*.directory
